In [5]:
#Import packages
import pandas as pd
from pandas_profiling import ProfileReport
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

#Load Data
df= pd.read_csv("https://leicester.figshare.com/ndownloader/files/23581310", sep=",")

pd.set_option('display.float_format', lambda x: '%.2f' % x)

#Select only numeric attributes
cols = [1,34,35,36,37,83,85,86,87,88,89,90]
df2 = df[df.columns[cols]]

#Generate descriptive statistics
df2.describe()

,AGE,S_AD_KBRIG,D_AD_KBRIG,S_AD_ORIT,D_AD_ORIT,K_BLOOD,NA_BLOOD,ALT_BLOOD,AST_BLOOD,KFK_BLOOD,L_BLOOD,ROE
count,1692.00,624.00,624.00,1433.00,1433.00,1329.00,1325.00,1416.00,1415.00,4.00,1575.00,1497.00
mean,61.86,136.91,81.39,134.59,82.75,4.19,136.55,0.48,0.26,2.00,8.78,13.44
std,11.26,35.00,19.75,31.35,18.32,0.75,6.51,0.39,0.20,1.10,3.40,11.30
min,26.00,0.00,0.00,0.00,0.00,2.30,117.00,0.03,0.04,1.20,2.00,1.00
25%,54.00,120.00,70.00,120.00,80.00,3.70,133.00,0.23,0.15,1.35,6.40,5.00
50%,63.00,140.00,80.00,130.00,80.00,4.10,136.00,0.38,0.22,1.60,8.00,10.00
75%,70.00,160.00,90.00,150.00,90.00,4.60,140.00,0.61,0.33,2.25,10.45,18.00
max,92.00,260.00,190.00,260.00,190.00,8.20,169.00,3.00,2.15,3.60,27.90,140.00

In [6]:
#Load packages
!jupyter nbextension enable --py widgetsnbextension
from ipywidgets import FloatProgress

#Generate profile
profile = ProfileReport(df2)
profile.to_file(output_file='output.html')
profile.to_widgets()

Config option `kernel_spec_manager_class` not recognized by `EnableNBExtensionApp`.
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

/home/bceuser/chana20/envs/lib/python3.9/site-packages/multimethod/__init__.py:312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,AGE,S_AD_KBRIG,D_AD_KBRIG,S_AD_ORIT,D_AD_ORIT,K_BLOOD,NA_BLOOD,ALT_BLOOD,AST_BLOOD,KFK_BLOOD,L_BLOOD,ROE
0,77.00,NaN,NaN,180.00,100.00,4.70,138.00,NaN,NaN,NaN,8.00,16.00
1,55.00,NaN,NaN,120.00,90.00,3.50,132.00,0.38,0.18,NaN,7.80,3.00
2,52.00,150.00,100.00,180.00,100.00,4.00,132.00,0.30,0.11,NaN,10.80,NaN
3,68.00,NaN,NaN,120.00,70.00,3.90,146.00,0.75,0.37,NaN,NaN,NaN
4,60.00,190.00,100.00,160.00,90.00,3.50,132.00,0.45,0.22,NaN,8.30,NaN
5,64.00,NaN,NaN,140.00,90.00,NaN,NaN,0.45,0.22,NaN,7.20,2.00
6,70.00,120.00,80.00,120.00,80.00,NaN,NaN,0.30,0.11,NaN,11.10,5.00
7,65.00,NaN,NaN,145.00,95.00,4.50,136.00,NaN,NaN,NaN,6.20,20.00
8,60.00,200.00,120.00,195.00,120.00,NaN,NaN,0.30,0.37,NaN,6.20,3.00
9,77.00,NaN,NaN,200.00,100.00,NaN,NaN,0.38,0.11,NaN,6.90,30.00

,AGE,S_AD_KBRIG,D_AD_KBRIG,S_AD_ORIT,D_AD_ORIT,K_BLOOD,NA_BLOOD,ALT_BLOOD,AST_BLOOD,KFK_BLOOD,L_BLOOD,ROE
1690,77.00,NaN,NaN,140.00,80.00,NaN,NaN,NaN,NaN,NaN,5.40,13.00
1691,62.00,NaN,NaN,140.00,80.00,4.90,133.00,0.15,0.07,NaN,10.50,3.00
1692,71.00,NaN,NaN,110.00,70.00,3.40,133.00,0.52,0.22,NaN,5.10,8.00
1693,70.00,NaN,NaN,140.00,80.00,NaN,NaN,0.52,0.48,NaN,NaN,NaN
1694,77.00,NaN,NaN,150.00,90.00,3.90,136.00,0.23,0.18,NaN,5.50,20.00
1695,77.00,NaN,NaN,110.00,70.00,3.70,130.00,1.05,0.52,NaN,12.80,6.00
1696,70.00,NaN,NaN,50.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697,55.00,NaN,NaN,70.00,50.00,NaN,NaN,0.23,0.15,NaN,8.30,13.00
1698,79.00,NaN,NaN,110.00,70.00,3.10,136.00,0.45,0.45,NaN,7.50,4.00
1699,63.00,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…